#board {
  --size-note: calc(
    round(
      down,
      (((100vmin - 2px) / var(--size-board) - 2px) / var(--size-board) - 4px) /
        var(--size-board) - 2px,
      1px
    )
  );
  --size-tile: calc(var(--size-board) * (var(--size-note) + 2px) + 2px);
  display: grid;
  grid-template-rows: repeat(var(--size-board), 1fr);
  grid-template-columns: repeat(var(--size-board), 1fr);
  border: var(--border-hard) 1px;
  > .group {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(var(--size-board), 1fr);
    grid-template-columns: repeat(var(--size-board), 1fr);
    border: var(--border-hard) 1px;
    > .tile {
      color: var(--pencil);
      border: var(--border-soft) 1px;
      &.highlight {
        background: var(--highlight);
      }
      > .value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--size-tile));
        height: calc(var(--size-tile));
        font-size: calc(0.8 * var(--size-tile));
        font-weight: bold;
        font-family: var(--mono);
        cursor: pointer;
        &.locked {
          color: var(--pen);
          cursor: default;
        }
      }
      > .notes {
        flex: 1;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(var(--size-board), 1fr);
        grid-template-columns: repeat(var(--size-board), 1fr);
        padding: 2px;
        gap: 2px;
        > * {
          width: var(--size-note);
          height: var(--size-note);
          font-size: var(--size-note);
          display: flex;
          justify-content: center;
          align-items: center;
          &.possible,
          &.unlikely {
            cursor: crosshair;
            &.unlikely {
              color: rgb(from var(--pencil) r g b / 0.4);
            }
          }
        }
      }
    }
  }
  > #solved {
    display: none;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    line-height: normal;
    padding: 0.2em 0.6em;
    font-size: 20vmin;

    background: radial-gradient(
      ellipse,
      rgb(from var(--bg) r g b / 0.8) 55%,
      #fff0 70%
    );

    .solved > & {
      display: block;
    }
  }
}
