.board {
  --size-note: calc(
    round(
      down,
      (((100vmin - 2px) / var(--size) - 2px) / var(--size) - 4px) /
        var(--size) - 2px,
      1px
    )
  );
  --size-tile: calc(var(--size) * (var(--size-note) + 1px) + 1px);
  display: grid;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
  border: solid white 1px;
  > .group {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(var(--size), 1fr);
    grid-template-columns: repeat(var(--size), 1fr);
    border: solid white 1px;
    > .tile {
      cursor: pointer;
      border: solid gray 1px;
      &.highlight {
        background: var(--accent-border);
      }
      > .value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--size-tile));
        height: calc(var(--size-tile));
        font-size: calc(0.8 * var(--size-tile));
        color: var(--text-h);
        &.locked {
          color: var(--accent);
        }
      }
      > .notes {
        flex: 1;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(var(--size), 1fr);
        grid-template-columns: repeat(var(--size), 1fr);
        padding: 2px;
        gap: 2px;
        > * {
          width: var(--size-note);
          height: var(--size-note);
          &.possible,
          &.unlikely {
            background: rgba(0, 128, 0, 0.6);
            border-radius: 50%;
            &.unlikely {
              background: rgba(0, 128, 0, 0.3);
            }
          }
        }
      }
    }
  }
}
