:root {
  --bg: #fff;
  --pen: #0300c5;
  --pencil: #4d4d4d;
  --text: #6b6375;
  --accent: #aa3bff;
  --border-hard: solid black;
  --border-soft: solid gray;
  --highlight: #fffc3b49;
  --code-bg: #f4f3ec;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --handwritten: "Designer Notes", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --pen: #6966ff;
    --pencil: #cccccc;
    --text: #9ca3af;
    --accent: #c084fc;
    --border-hard: solid white;
    --border-soft: solid gray;
    --highlight: #4570b66e;
    --code-bg: #1f2028;
  }
}

#root {
  width: 100svw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  &.landscape {
    flex-direction: row;
  }
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--accent);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--accent);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.clickable {
  cursor: pointer;
}

#tokens {
  color: var(--pencil);
  .landscape & {
    flex-direction: column;
    height: 100svh;
  }
  .portrait & {
    flex-direction: row;
    width: 100svw;
  }
  > :has(.token) {
    flex: 1;
    position: relative;
    container: size;
    text-align: center;
    font-size: calc(0.7 * var(--width-tile));
    line-height: normal;
    &.highlight {
      background: radial-gradient(var(--highlight) 50%, #fff0 85%);
    }
    > .count {
      font-size: 0.3em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(160%, 50%);
    }
  }
  > .buttons {
    flex: 0;
    gap: 0.4em;
    padding: 0.4em;
  }
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: var(--grid);
  grid-template-columns: var(--grid);
  > * {
    flex: 1;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  &.column {
    flex-direction: column;
  }
}

.board {
  position: relative;
  border: var(--border-hard) 1px;

  > .solved {
    display: none;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--accent);
    line-height: normal;
    padding: 0.2em 0.6em;
    font-size: 20vmin;

    background: radial-gradient(
      ellipse,
      rgb(from var(--bg) r g b / 0.8) 55%,
      #fff0 70%
    );

    .solved > & {
      display: block;
    }
  }
}

.block {
  border: var(--border-hard) 1px;

  color: var(--pencil);
  font-family: var(--mono);
}

.tile {
  border: var(--border-soft) 1px;

  &.highlight {
    background: var(--highlight);
  }
}

.value {
  width: var(--width-tile, 1px);
  height: var(--width-tile, 1px);
  font-size: var(--width-tile, 1px);
  &.locked {
    color: var(--pen);
  }
}

.note {
  width: var(--width-note, 1px);
  height: var(--width-note, 1px);
  font-size: var(--width-note, 1px);
  &.unlikely {
    color: rgb(from var(--pencil) r g b / 0.2);
  }
}
